* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.checkbox {
  display: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}

html {
  overflow-x: hidden;
}

body {
  color: #35424b;
  background-color: #fbfbfb;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  font-family: Ubuntu;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg__img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 3rem;
}

.title_w {
  color: #ffffff;
}

.accordion__title {
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1rem;
}

.header__bg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-left: -32px;
  min-height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
  padding-left: 32px;
}

.header__logo {
  position: relative;
  border-radius: 0 0 0 8px;
  background-color: #22c3ca;
  color: #ffffff;
  font-size: 25px;
  padding: 32px 58px 33px 48px;
  margin-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: ofont;
  font-weight: 900;
}

.header__burger {
  display: none;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin-bottom: 16px;
}

.header__list:last-child {
  margin: 0;
}

.header__item {
  margin-right: 37px;
}

.header__item:last-child {
  margin: 0;
}

.header__link {
  font-size: 12px;
  color: #ccc;
  line-height: 1rem;
}

.header__link_big {
  color: #22c3ca;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.header__btn {
  border-radius: 100px;
  background-color: #22c3ca;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  padding: 18px 35px;
}

.phone-header {
  padding-right: 36px;
  padding-left: 15px;
  margin-right: 15px;
  position: relative;
}

.phone-header:before {
  content: '';
  position: absolute;
  bottom: -14px;
  left: -55px;
  width: 1px;
  height: 67px;
  background-color: #f7f5f5;
}

.phone-header:after {
  content: '';
  position: absolute;
  bottom: -14px;
  right: 0;
  width: 1px;
  height: 67px;
  background-color: #f7f5f5;
}

.phone-header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phone-header__item {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
  line-height: 1rem;
  position: relative;
}

.phone-header__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  background-image: url(../img/header/header-phone.svg);
  width: 32px;
  height: 32px;
}

.phone-header__btn {
  color: #22c3ca;
  font-size: 12px;
  line-height: 1rem;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ofont";
  font-display: swap;
  src: url("../fonts/ofont-black.woff") format("woff"), url("../fonts/ofont-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

.footer {
  background-color: #fff;
}

.footer__wrapper {
  padding-top: 85px;
  padding-bottom: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer__column {
  margin-right: 110px;
}

.footer__logo {
  font-size: 25px;
  color: #22c3ca;
  font-weight: 900;
  margin-bottom: 57px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__mail {
  color: #22c3ca;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 16px;
  position: relative;
  padding-left: 24px;
}

.footer__mail:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/mail.svg);
  width: 16px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.footer__phone {
  margin-bottom: 21px;
  position: relative;
  padding-left: 23px;
}

.footer__phone a {
  font-weight: 500;
  color: #35424b;
  display: block;
}

.footer__phone:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/mob.svg);
  width: 12px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.footer__loc {
  font-weight: 500;
  position: relative;
  padding-left: 24px;
}

.footer__loc:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/footer/loc.svg);
  width: 16px;
  height: 19px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.footer__title {
  color: #22c3ca;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 6px;
  position: relative;
}

.footer__title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70.4%;
  height: 2px;
  background-color: #f7f5f5;
}

.footer__item {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer__link {
  color: #35424b;
}

.socials-footer {
  padding-top: 47px;
}

.socials-footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-footer__img {
  margin-right: 40px;
}

.accordion {
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  width: 100%;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

input,
textarea {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  z-index: 2;
  clear: both;
  margin: 15px 0;
  position: relative;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  min-width: 38px;
  width: auto;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.tabs {
  padding-top: 24px;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
}

.tabs__link {
  padding: 7px 7px 9px 9px;
  font-size: 12px;
  line-height: 1rem;
  border-radius: 100px;
  border: 2px solid #22c3ca;
  margin-right: 16px;
  min-width: 110px;
  text-align: center;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.tabs__link_active {
  background-color: #22c3ca;
  color: #ffffff;
}

.tabs__link:hover,
.tabs__link:focus {
  background-color: #22c3ca;
  color: #ffffff;
}

.tabs__content {
  padding: 1rem;
}

.tabs__pane {
  display: none;
}

.tabs__pane_show {
  display: block;
}

a {
  color: #22c3ca;
}

li {
  color: #35424b;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
}

.hide {
  display: none;
}

.phone-fixed {
  padding: 21px;
  -webkit-box-shadow: 0 8px 24px rgba(34, 195, 202, 0.32);
          box-shadow: 0 8px 24px rgba(34, 195, 202, 0.32);
  background-color: #22c3ca;
  border-radius: 50%;
  position: fixed;
  right: 64px;
  bottom: 0px;
  z-index: 16;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
  padding-top: 195px;
  padding-bottom: 30px;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-screen__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.main-screen__title {
  margin-bottom: 3px;
  z-index: 2;
}

.main-screen__subtitle {
  z-index: 2;
  font-weight: 500;
  margin-bottom: 23px;
  color: #fff;
}

.main-screen__search {
  z-index: 2;
}

.main-screen__btn {
  z-index: 2;
  color: #22c3ca;
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  min-width: 256px;
  min-height: 56px;
  border-radius: 100px;
  background-color: #ffffff;
}

.search {
  position: relative;
  margin-bottom: 32px;
  /* .search__inp */
  /* .search__inp */
  /* .search__extended */
}

.search:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 16px;
  background-image: url(../img/main-screen/main-screen_search.svg);
  width: 32px;
  height: 32px;
}

.search__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search__inp {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 0 64px;
  min-height: 72px;
  margin-bottom: 16px;
}

.search__extended {
  font-weight: 500;
  color: #fff;
  border-bottom: 1px dashed #ffffff;
}

.search__inp::-webkit-input-placeholder {
  color: #9b9b9b;
}

.search__inp::-moz-placeholder {
  color: #9b9b9b;
}

.search__inp:-ms-input-placeholder {
  color: #9b9b9b;
}

.search__inp::-ms-input-placeholder {
  color: #9b9b9b;
}

.search__inp::placeholder {
  color: #9b9b9b;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.star-rating {
  margin-left: -4px;
}

.star-rating__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: -4px;
}

.star-rating input {
  display: none;
}

.star-rating .star {
  display: block;
  padding: 2px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: 20px;
}

.star-rating .star:hover {
  color: #ed805;
}

input:checked ~ label {
  color: #22c3ca;
}

.star-rating .star:hover ~ label {
  color: #22c3ca;
}

.sale {
  padding-top: 80px;
}
.sale__title {
  text-align: center;
}
.sale__btn {
  padding-top: 32px;
  text-align: center;
}

.sale__btn button {
  font-size: 14px;
  font-weight: 700;
  line-height: 1rem;
  color: #fff;
  width: 256px;
  max-width: 100%;
  min-height: 56px;
  border-radius: 100px;
  background-color: #22c3ca;
}

.ticket {
  padding-top: 32px;
}

.ticket__row {
  margin: 0 -32px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ticket__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 32px;
}

.ticket__item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket__bg {
  position: relative;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  padding: 16px 16px 32px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ticket__img {
  position: relative;
  width: 100%;
}

.ticket__img img {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.ticket__btn {
  display: block;
  font-size: 10px;
  color: #fff;
  min-width: 80px;
  min-height: 24px;
  border-radius: 4px;
  background-color: #22c3ca;
  position: absolute;
  top: 22px;
  right: 16px;
}

.ticket__id {
  margin-top: 16px;
  color: #9b9b9b;
  font-size: 10px;
  line-height: 1rem;
}

.ticket__title {
  font-weight: 500;
}

.ticket__location {
  margin-bottom: 16px;
  font-size: 14px;
}

.ticket__time {
  font-size: 12px;
  position: relative;
  padding-left: 24px;
  margin-bottom: 16px;
}

.ticket__time:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/sale/time.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ticket__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
}

.ticket__visa {
  position: relative;
  padding-left: 24px;
  margin-right: 100px;
}

.ticket__visa:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/sale/visa.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ticket__transport {
  position: relative;
}

.ticket__transport:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -24px;
  width: 16px;
  height: 16px;
  background-image: url(../img/sale/transport-plane.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ticket__hotel {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket__type {
  font-size: 10px;
  line-height: 1rem;
}

.ticket__name {
  margin-left: 48px;
  line-height: 1rem;
  font-size: 10px;
}

.ticket__name span {
  display: block;
  font-size: 12px;
}

.ticket__price {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.ticket__price span {
  font-size: 14px;
  line-height: 1rem;
}

.ticket__euros {
  color: #9b9b9b;
  font-weight: 500;
  line-height: 1rem;
  margin-bottom: 16px;
}

.ticket__compare {
  position: relative;
  padding-left: 24px;
}

.ticket__compare:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/sale/compare.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.ticket__compare button {
  color: #22c3ca;
  font-size: 12px;
  line-height: 1rem;
  border-bottom: 1px dashed #22c3ca;
}

.touch {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #22c3ca;
}

.touch__title {
  margin-bottom: 32px;
}

.touch__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.touch__phone {
  margin-left: 144px;
}

.touch__way {
  font-weight: 500;
  font-size: 24px;
  line-height: 2rem;
  color: #fff;
  margin-bottom: 16px;
}

.touch__inp {
  position: relative;
}

.touch__inp input {
  padding: 0 148px 0 56px;
  border-radius: 8px;
  background-color: #ffffff;
  min-height: 72px;
}

.touch__inp_mail {
  position: relative;
}

.touch__inp_mail input {
  max-width: 752px;
  width: 100%;
}

.touch__inp_mail:before {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  background-image: url(../img/touch/mail.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 21px;
  height: 24px;
}

.touch__inp_phone {
  position: relative;
}

.touch__inp_phone input {
  width: 416px;
  max-width: 100%;
}

.touch__inp_phone:before {
  content: '';
  position: absolute;
  top: 24px;
  left: 24px;
  background-image: url(../img/touch/mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 16px;
  height: 24px;
}

.touch__sbcr {
  position: absolute;
  top: 28px;
  right: 32px;
  font-size: 14px;
  color: #000;
  color: #22c3ca;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1rem;
  text-transform: uppercase;
}

.touch__info {
  padding-top: 14px;
  line-height: 1.5rem;
  font-size: 14px;
  color: #fff;
}

.touch__inp_mail::-webkit-input-placeholder {
  color: #35424b;
}

.touch__inp_mail::-moz-placeholder {
  color: #35424b;
}

.touch__inp_mail:-ms-input-placeholder {
  color: #35424b;
}

.touch__inp_mail::-ms-input-placeholder {
  color: #35424b;
}

.touch__inp_phone,
.touch__inp_mail::placeholder {
  color: #35424b;
}

.article {
  padding-top: 80px;
}

.article__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__title {
  margin-bottom: 40px;
}

.article__row {
  margin: 0 -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  padding: 0 32px;
}

.article__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article__bg {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.25);
}

.article__inner {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.article__title-small {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 9px;
}

.article__subtitle {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5rem;
  margin-bottom: 19px;
}

.article__btn {
  color: #22c3ca;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1rem;
  text-transform: uppercase;
  margin-right: auto;
}

.slider-review {
  padding: 80px 0;
}

.slider-review__title {
  margin-bottom: 24px;
}

.slider-review__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-review__column {
  margin: 0 16px;
}

.slider-review__item {
  max-width: 416px;
  width: 100%;
  min-height: 328px;
  border: 1px solid #f6f6f6;
  background-color: #ffffff;
  padding: 32px 16px 32px 32px;
}

.slider-review__name {
  margin-bottom: 24px;
  font-weight: 500;
  line-height: 24px;
}

.slider-review__text {
  font-size: 14px;
}

.slider-review .slick-arrow {
  z-index: 2;
  font-size: 0;
  position: absolute;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-review .slick-next {
  right: -11px;
  background-image: url(../img/slider/slider-next.svg);
}

.slider-review .slick-prev {
  left: -11px;
  background-image: url(../img/slider/slider-prev.svg);
}

@media (max-width: 1200px) {
  .header__logo {
    padding: 22px 48px 23px 38px;
  }

  .header__item {
    margin-right: 20px;
  }

  .phone-header:before {
    left: -38px;
  }

  .phone-header:after {
    right: 22px;
  }

  .tabs__link {
    margin-bottom: 10px;
  }

  .ticket {
    padding-top: 22px;
  }

  .ticket__row {
    margin: 0 -16px 16px;
  }

  .ticket__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
    max-width: 33.333%;
    padding: 0 16px;
  }

  .ticket__column:nth-child(4) {
    padding-top: 32px;
  }

  .ticket__img img {
    border-radius: 11px 11px 0 0;
  }
}

@media (max-width: 1160px) {
  .header__btn {
    display: none;
  }

  .phone-header {
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .title {
    font-size: 24px;
    line-height: 2rem;
  }

  .footer__column {
    margin-right: 40px;
  }

  .tabs__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .ticket__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .ticket__column:nth-child(3) {
    padding-top: 32px;
  }

  .touch__title {
    margin-bottom: 20px;
  }

  .touch__phone {
    margin-left: 72px;
  }

  .touch__way {
    font-size: 20px;
    line-height: 1.5rem;
    margin-bottom: 10px;
  }

  .touch__inp input {
    padding: 0 24px 0 56px;
  }

  .touch__inp_phone input {
    width: 250px;
  }

  .touch__sbcr {
    display: none;
  }

  .touch__info {
    font-size: 12px;
  }

  .article__row {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .article__column {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .article__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 960px) {
  .phone-header {
    display: none;
  }
}

@media (max-width: 769px) {
  .touch__phone {
    margin: 0;
  }
}

@media (max-width: 768px) {
  body._lock {
    overflow: hidden;
  }
  .title {
    font-size: 20px;
  }

  .accordion__content {
    display: none;
  }

  .header__bg {
    min-height: 75px;
  }

  .header__link {
    color: #fff;
  }

  .header__link_big {
    color: #fff;
  }

  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 20px;
    z-index: 1000;
  }

  .header__burger span {
    position: absolute;
    background-color: #22c3ca;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #22c3ca;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    background-color: #fff;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active:before {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    background-color: #22c3ca;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
    right: 0;
    z-index: 999;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }
  .sale {
    padding-top: 50px;
  }
  .footer__wrapper {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .footer__logo {
    margin-bottom: 37px;
  }

  .footer__title {
    font-size: 22px;
  }

  .footer__link {
    font-size: 18px;
  }

  .socials-footer {
    padding-top: 27px;
  }

  .socials-footer {
    padding-top: 20px;
  }

  .accordion {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    max-width: 50%;
  }

  .phone-fixed {
    padding: 16px;
  }

  .touch {
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .touch__title {
    margin-bottom: 10px;
  }

  .touch__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .touch__way {
    font-size: 17px;
  }

  .touch__inp_phone input {
    width: 100%;
  }

  .article {
    padding-top: 50px;
  }

  .slider-review {
    padding: 50px 0;
  }

  .slider-review__title {
    margin-bottom: 18px;
  }

  .slider-review__column {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider-review__item {
    padding: 22px 10px 22px 22px;
  }
}

@media (max-width: 768px) and (max-width: 425px) {
  .header__menu {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .search__inp {
    padding: 0 32px 0 64px;
  }

  .ticket__row {
    margin: 0px 0px 16px 0px;
  }

  .ticket__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .ticket__column:nth-child(2) {
    padding-top: 32px;
  }

  .ticket__bg {
    width: 90%;
  }

  .ticket__img img {
    border-radius: 20px 20px 0 0;
  }
}

@media (max-width: 560px) {
  .sale {
    padding-top: 30px;
  }
  .footer__title {
    font-size: 18px;
  }

  .footer__link {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .title {
    line-height: 1.5rem;
    font-size: 17px;
  }

  .footer__wrapper {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__row {
    padding-top: 40px;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .accordion {
    max-width: unset;
  }

  .phone-fixed img {
    height: 28px;
    width: 28px;
  }

  .main-screen {
    padding-top: 150px;
  }

  .touch {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .touch__way {
    font-size: 15px;
  }

  .article {
    padding-top: 30px;
  }

  .article__inner {
    bottom: 25px;
  }

  .article__title-small {
    font-size: 18px;
    line-height: 1rem;
  }

  .article__subtitle {
    font-size: 12px;
    line-height: 1rem;
    margin-bottom: 10px;
  }

  .slider-review {
    padding: 30px 0;
  }

  .slider-review__title {
    margin-bottom: 10px;
    text-align: center;
  }

  .slider-review__name {
    margin-bottom: 10px;
    line-height: 18px;
  }

  .slider-review__text {
    font-size: 12px;
  }

  .slider-review .slick-arrow {
    width: 28px;
    height: 28px;
  }
}

.webp .ticket__transport:before { background-image: url(../img/sale/transport-plane.webp); }